.card {
    //Functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    &__image {
        max-height:20rem;
        width: 100%;
    }
    &__text{
        &-booking{
            text-align: center;
            color: $color-black;
            padding: 2rem 1rem;
        }
        &-heading2 {
            padding: 2rem;
            text-align: center;
        }
    }
     
    &__side {
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        &--front {
            background-color: $color-white;
        }
        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-index-0 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-index-1 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-index-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-index-3 {
                background-image: linear-gradient(to right bottom, $color-four-light, $color-four-dark);
            }
            &-index-4 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-index-5 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-index-6 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-index-7 {
                background-image: linear-gradient(to right bottom, $color-four-light, $color-four-dark);
            }
            &-index-8 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-index-9 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-index-10 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-index-11 {
                background-image: linear-gradient(to right bottom, $color-four-light, $color-four-dark);
            }
            
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    //Front side styling
    &__picture {
        background-size: cover;
        height: 30rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &-1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(./images/pic1.jpg);
        }
        &-2 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(./images/pic2.jpg);
        }
        &-3 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(./images/pic3.jpg);
        }
        &-index-0 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(./images/is-web/rej1.jpg);
        }
        &-index-1 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(./images/is-web/bl1.jpg);
        }
        &-index-2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(./images/is-web/east_main-road.jpg);
        }
        &-index-3 {
            background-image: linear-gradient(to right bottom, $color-four-light, $color-four-dark), url(./images/is-web/east_main-road2.jpg);
        }
        &-index-4 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(./images/is-web/skaly.jpg);
        }
        &-index-5 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(./images/is-web/geyser.jpg);
        }
        &-index-6 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(./images/is-web/gora_s_nosom.jpg);
        }
        &-index-7 {
            background-image: linear-gradient(to right bottom, $color-four-light, $color-four-dark), url(./images/is-web/losh2.jpg);
        }
        &-index-8 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(./images/is-web/north_geyser.jpg);
        }
        &-index-9 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(./images/is-web/north-fjords.jpg);
        }
        &-index-10 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(./images/is-web/north-gullifoss.jpg);
        }
        &-index-11 {
            background-image: linear-gradient(to right bottom, $color-four-light, $color-four-dark), url(./images/is-web/north-round-lake.jpg);
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        color: $color-white;
        position: absolute;
        top: 10rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &-1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
        &-2 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
        &-3 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }
        &-index-0 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
        &-index-1 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
        &-index-2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }
        &-index-3 {
            background-image: linear-gradient(to right bottom, rgba($color-four-light, .85), rgba($color-four-dark, .85));
        }
        &-index-4 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
        &-index-5 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
        &-index-6 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }
        &-index-7 {
            background-image: linear-gradient(to right bottom, rgba($color-four-light, .85), rgba($color-four-dark, .85));
        }
        &-index-8 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
        &-index-9 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
        &-index-10 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }
        &-index-11 {
            background-image: linear-gradient(to right bottom, rgba($color-four-light, .85), rgba($color-four-dark, .85));
        }
    }
    &__detail {
        padding: 3rem;
        margin: 0 auto;
        p {
            width: 80%;
            text-align: center;
            font-size: 2rem;
            padding: 2rem;
            margin: 0 auto;
        }
    }
    //Back side styling
    &__cta {
        @include position-center;
        width: 90%;
        text-align: center;
    }
    &__info-box {
        color: $color-white;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    @include responsive(tab-port) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        &__side {
            height: auto;
            position: relative;
            box-shadow: none;
            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }
        &:hover &__side--front {
            transform: rotateY(0);
        }
        //Back side styling
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            text-align: center;
            padding: 7rem 4rem 4rem 4rem;
        }
        &__info-box {
            color: $color-white;
            padding: 1rem;
            margin-bottom: 3rem;
        }
    }
}